<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet" />
  </noscript>
  <link rel="stylesheet" href="../public/css/delete.min.css" />
  <link rel="stylesheet" href="../public/css/styles.min.css" />
  <link rel="shortcut icon" href="../public/img/Brand/Logo.svg" type="image/x-icon" />
  <title>Frontend Components and Styles</title>
  <style>body{padding:1rem;}.club{margin-bottom:1rem;}</style>
</head>
<body>
  <div class="product-info-price">
    <div class="club club-price-box-title">Member Price</div>
    <div class="club club-discount-information">Non-Member Price: <strong>$1,144.99.</strong> Not a member? <a
        href="#">Sign
        up now.</a></div>
    <div class="club club-credit-information">Or As Low As <strong>$54.00/Mo.</strong> With Your Curacao Credit</div>
    <div class="club club-product-info-grid">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Prices</th>
            <th>Savings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Member Price</td>
            <td>Pay $949.99</td>
            <td>Save $350.00</td>
          </tr>
          <tr>
            <td>Non-Member Price</td>
            <td>Pay $1,149.99</td>
            <td>Save $159.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>