<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="color-scheme"
      content="dark light"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <link
      rel="stylesheet"
      href="../public/css/delete.min.css"
    />
    <link
      rel="stylesheet"
      href="../public/css/styles.min.css"
    />
    <link
      rel="shortcut icon"
      href="../public/img/Brand/Logo.svg"
      type="image/x-icon"
    />
    <title>Frontend Components and Styles</title>
  </head>

  <body>
    <!-- Button to open modal -->
    <button id="clubTermsModalOpenButton">View Terms and Conditions</button>

    <!-- Modal structure -->
    <div
      id="clubTermsModal"
      class="clubTermsModal"
    >
      <div class="clubTermsModalContent">
        <div class="clubTermsModalHeader">
          <img
            height="40"
            width="auto"
            src="https://icuracao.com/pub/media/assets/2024/09-SEP/club/essential.svg"
            alt="#1 - Essential"
          />
          <span class="clubTermsModalClose">&times;</span>
        </div>
        <div
          class="clubTermsModalBody"
          id="clubTermsModalBody"
        >
          <div>
            <section class="clubTerms">
              <h1>Curacao Club Membership – Terms and Conditions</h1>
              <ol>
                <li>
                  <p>
                    <strong>Overview of Terms:</strong> These terms ("Terms")
                    outline the conditions of your Curacao Club Membership
                    ("Membership"). This agreement is between you and Curacao,
                    including its affiliates and authorized service providers
                    ("Curacao," "we," or "us"), and it details our mutual rights
                    and responsibilities. The Terms, along with your purchase
                    receipt, any applicable terms for using icuracao.com,
                    Curacao Credit Card Terms and Conditions, and any other
                    services, special pricing, promotional offers, or benefits
                    associated with the Membership, form the complete agreement
                    regarding your Membership. By enrolling in and using the
                    Membership, you agree to these Terms and any updates or
                    modifications. We may revise these Terms or discontinue the
                    Membership program at our discretion.
                  </p>
                  <p>
                    <i
                      >Note: as described in Section 6, the Membership
                      automatically renews on an annual basis unless canceled
                      (see Section 6).</i
                    >
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Membership Benefits:</strong> The Curacao Club
                    Membership offers various benefits including special
                    pricing, promotional deals, and other perks ("Membership
                    Benefits") to the registered member ("Member," "you," or
                    "your"). Any benefits delivered to your home will be
                    available only at the primary address linked to your
                    Membership, which must be within the designated DMA areas
                    around Curacao stores. Membership purchases and benefits are
                    restricted to these areas and are not available where
                    prohibited by law. Currently, Membership is not available to
                    individuals outside these specified areas.
                  </p>
                  <p>
                    There are three tiers of Membership with varying benefits
                    currently being offered at the prices set forth in the
                    attached
                    <a
                      href="#exhibitA"
                      data-accessible="true"
                      ><strong>Exhibit A:</strong></a
                    >
                  </p>
                  <p>
                    2.1. Curacao Club Membership
                    <strong>Tier 1 “Essential”</strong> includes these benefits:
                  </p>
                  <ul>
                    <li>
                      <strong>Club Discount Pricing on Specific Products</strong
                      >, exclusive Member-priced offers and priority access to
                      limited supply items. As a Member, you will be eligible
                      for exclusive Member-priced offers, sales, events, and
                      have priority access to certain limited supply item
                      events. Quantity limits may apply.
                    </li>
                    <li>
                      <strong>Free Shipping on online orders</strong> is
                      available with every small parcel purchased from
                      icuracao.com, including, when available, same-day
                      shipping. No minimum purchase is required. This benefit
                      applies to small parcel shipments only and does not apply
                      to large products (e.g., major appliances, large
                      televisions), as defined by Curacao. Large products may be
                      eligible for member-only discounted standard delivery and
                      installation on a promotional basis from time-to-time.
                    </li>
                    <li>
                      <strong>0% APR financing for 4-6 months</strong> will be
                      available to members every day on every product and with
                      no minimum purchase required. These transactions will be
                      subject to credit approval as defined by Curacao.
                    </li>
                    <li>
                      <strong
                        >A $10 Rewards voucher for every $500 spent</strong
                      >
                      will be provided to members via email and SMS. This
                      voucher is valid for 30 days and can be used to purchase
                      any product at Curacao stores or icuracao.com. This
                      benefit is subject to the Rewards program rules available
                      at
                      <a
                        target="_blank" href="https://icuracao.com/curacao-rewards"
                        data-accessible="true"
                        >https://icuracao.com/curacao-rewards</a
                      >
                    </li>
                    <li>
                      <strong
                        >Exclusive private sale events and early access to
                        limited availability products:</strong
                      >
                      Members will periodically be invited to participate in
                      exclusive private sale events and enjoy early access to
                      select limited availability products as part of their
                      Curacao Club membership benefits. Details regarding
                      product offers, timing, and qualifications will be
                      provided in marketing materials outlining the specific
                      terms for these events. Certain qualifying criteria or
                      prerequisites may apply. Curacao reserves the right to
                      modify or change these offers at its sole discretion
                      without prior notice.
                    </li>
                  </ul>
                  <p>
                    2.2. Curacao Club Membership
                    <strong>Tier 2 “Advanced”</strong> includes these benefits:
                  </p>
                  <ul>
                    <li>
                      <strong>Club Discount Pricing on Specific Products</strong
                      >, exclusive Member-priced offers and priority access to
                      limited supply items. As a Member, you will be eligible
                      for exclusive Member-priced offers, sales, events, and
                      have priority access to certain limited supply item
                      events. Quantity limits may apply.
                    </li>
                    <li>
                      <strong>Free Shipping on online orders</strong> is
                      available with every small parcel purchased from
                      icuracao.com, including, when available, same-day
                      shipping. No minimum purchase is required. This benefit
                      applies to small parcel shipments only and does not apply
                      to large products (e.g., major appliances, large
                      televisions), as defined by Curacao. Large products may be
                      eligible for member-only discounted standard delivery and
                      installation on a promotional basis from time-to-time.
                    </li>
                    <li>
                      <strong>0% APR financing for 4-6 months</strong> will be
                      available to members every day on every product and with
                      no minimum purchase required. These transactions will be
                      subject to credit approval as defined by Curacao.
                    </li>
                    <li>
                      <strong
                        >A $20 Rewards voucher for every $500 spent</strong
                      >
                      will be provided to members via email and SMS. This
                      voucher is valid for 30-days and can be used to purchase
                      any product and Curacao stores or icuracao.com. This
                      benefit is subject to the Rewards program rules available
                      at
                      <a
                        target="_blank" href="https://icuracao.com/curacao-rewards"
                        data-accessible="true"
                        >https://icuracao.com/curacao-rewards</a
                      >
                    </li>
                    <li>
                      <strong
                        >Exclusive private sale events and early access to
                        limited availability products:</strong
                      >
                      Members will periodically be invited to participate in
                      exclusive private sale events and enjoy early access to
                      select limited availability products as part of their
                      Curacao Club membership benefits. Details regarding
                      product offers, timing, and qualifications will be
                      provided in marketing materials outlining the specific
                      terms for these events. Certain qualifying criteria or
                      prerequisites may apply. Curacao reserves the right to
                      modify or change these offers at its sole discretion
                      without prior notice.
                    </li>
                    <li>
                      <strong
                        >Free Curbside delivery on qualifying purchases</strong
                      >
                      is available on qualifying purchases made from any Curacao
                      store or icuracao.com. Eligible items can be delivered
                      during available delivery windows, which may be limited
                      based on availability. To qualify, items must be
                      furniture, major appliances, or TV screens larger than 70
                      inches. Some items may be excluded from this offer. Please
                      note that curbside delivery will place the item in front
                      of the door of your residence. This service does not
                      include the removal of old items, installation, assembly,
                      or placement of the item inside your home.
                    </li>
                  </ul>
                  <p>
                    2.3. Curacao Club Membership
                    <strong>Tier 3 “Elite”</strong> includes these benefits:
                  </p>
                  <ul>
                    <li>
                      <strong>Club Discount Pricing on Specific Products</strong
                      >, exclusive Member-priced offers and priority access to
                      limited supply items. As a Member, you will be eligible
                      for exclusive Member-priced offers, sales, events, and
                      have priority access to certain limited supply item
                      events. Quantity limits may apply.
                    </li>
                    <li>
                      <strong>Free Shipping on online orders</strong> is
                      available with every small parcel purchased from
                      icuracao.com, including, when available, same-day
                      shipping. No minimum purchase is required. This benefit
                      applies to small parcel shipments only and does not apply
                      to large products (e.g., major appliances, large
                      televisions), as defined by Curacao. Large products may be
                      eligible for member-only discounted standard delivery and
                      installation on a promotional basis from time-to-time.
                    </li>
                    <li>
                      <strong>0% APR financing for 4-6 months</strong> will be
                      available to members every day on every product and with
                      no minimum purchase required. These transactions will be
                      subject to credit approval as defined by Curacao.
                    </li>
                    <li>
                      <strong
                        >A $20 Rewards voucher for every $500 spent</strong
                      >
                      will be provided to members via email and SMS. This
                      voucher is valid for 30-days and can be used to purchase
                      any product and Curacao stores or icuracao.com. This
                      benefit is subject to the Rewards program rules available
                      at
                      <a
                        target="_blank" href="https://icuracao.com/curacao-rewards"
                        data-accessible="true"
                        >https://icuracao.com/curacao-rewards</a
                      >.
                    </li>
                    <li>
                      <strong
                        >Exclusive private sale events and early access to
                        limited availability products:</strong
                      >
                      Members will periodically be invited to participate in
                      exclusive private sale events and enjoy early access to
                      select limited availability products as part of their
                      Curacao Club membership benefits. Details regarding
                      product offers, timing, and qualifications will be
                      provided in marketing materials outlining the specific
                      terms for these events. Certain qualifying criteria or
                      prerequisites may apply. Curacao reserves the right to
                      modify or change these offers at its sole discretion
                      without prior notice.
                    </li>
                    <li>
                      <strong
                        >Free Curbside delivery on qualifying purchases</strong
                      >
                      is available on qualifying purchases made from any Curacao
                      store or icuracao.com. Eligible items can be delivered
                      during available delivery windows, which may be limited
                      based on availability. To qualify, items must be
                      furniture, major appliances, or TV screens larger than 70
                      inches. Some items may be excluded from this offer. Please
                      note that curbside delivery will place the item in front
                      of the door of your residence. This service does not
                      include the removal of old items, installation, assembly,
                      or placement of the item inside your home.
                    </li>
                    <li>
                      <strong>No Sales Tax on all purchases</strong> up to
                      $3,000 per year exclusively available for members and is
                      valid every day, on every transaction, and on every
                      product (except where prohibited by law). The sales tax
                      amount will be reflected on the receipt as a discount
                      proportionally applied to each item purchased.
                    </li>
                  </ul>
                </li>
                <li>
                  <strong>Credit Account Requirement:</strong> Although
                  Membership benefits are additional to, and separate from, the
                  benefits, obligations and terms of the Curacao credit card,
                  Membership is only available to Curacao card holders in good
                  standing. Therefore, to maintain Membership in any tier, you
                  must open and maintain your Curacao credit account in good
                  standing throughout the Membership period and verify your
                  Member Address. Membership benefits commence upon payment of
                  the annual fee. The Curacao credit account terms and
                  conditions are detailed at
                  <a
                    target="_blank" href="https://icuracao.com/terms"
                    data-accessible="true"
                    >https://icuracao.com/terms</a
                  >. We may link an existing credit account to your Membership.
                </li>
                <li>
                  <strong>Compliance with Terms:</strong>
                  <ul>
                    <li>
                      Prior to enrollment, you will receive an email and/or SMS
                      containing the Membership Terms and requesting your
                      acceptance thereof. Acceptance through such electronic
                      means, or enjoyment of the benefits of the Membership,
                      will be deemed to constitute acceptance of the Membership
                      Terms and enrollment. Failure to comply with the
                      Membership Terms (as may be modified from time to time) or
                      to maintain your Curacao credit account in good standing
                      may result in suspension or termination of Membership
                      benefits, or Membership cancellation, without refund or
                      credit for any Membership fees or charges.
                    </li>
                    <li>
                      Membership Benefits are for personal use only and may not
                      be resold, transferred or used for commercial purposes.
                    </li>
                  </ul>
                </li>
                <li>
                  <strong>Eligibility for Benefits:</strong> We may request
                  information to verify that you are the Member receiving the
                  benefits. To access Membership Benefits online, log into
                  icuracao.com with your profile. For in-store, phone, or remote
                  chat transactions, identify yourself as a Member. Membership
                  is non-transferable and only available to individuals who are
                  of legal age. Benefits are valid at Curacao locations and on
                  icuracao.com.
                </li>
                <li>
                  <strong>Renewal and Cancellation:</strong>
                  <ul>
                    <li>
                      <strong>Automatic Renewal:</strong> Your Curacao Club
                      Membership starts on the purchase date, is a 12-month
                      program and renews annually until canceled. We will charge
                      your designated Curacao credit account each year for the
                      Membership fee plus applicable taxes, with prior notice of
                      any price changes.
                    </li>
                    <li>
                      <strong>Cancellation:</strong> You may cancel your
                      auto-renewal (i.e. stop the Membership from renewing) by
                      calling
                      <a
                        href="tel:1-888-287-2226"
                        data-accessible="true"
                        >1-888-287-2226</a
                      >, visiting a Curacao store, or through icuracao.com by
                      logging in to your account:
                      <ul>
                        <li>
                          <strong>By you:</strong> (1) At any time prior to your
                          renewal date, or (2) within 30 days after your renewal
                          date, provided no benefits have been used. Other than
                          as stated above, all membership fees and charges are
                          non-refundable
                        </li>
                        <li>
                          <strong>By Us:</strong> We may cancel your Membership
                          at any time due to failure to maintain your Curacao
                          credit account in good standing, non-compliance with
                          Terms, or nonpayment.
                        </li>
                      </ul>
                    </li>
                    <li>
                      <strong>Renewal Notice and Changes:</strong> We will
                      notify you at least 30 days before your renewal date via
                      email, SMS, or USPS mail, according to your preference,
                      regarding the then current or proposed Curacao Club
                      Membership terms and conditions, pricing, and instructions
                      on how to continue or cancel your membership. We may
                      discontinue the Membership or offer new, different or
                      changed terms and prices. If the Membership price changes,
                      your credit account will be charged the new rate.
                    </li>
                    <li>
                      <strong>Changing Terms During Term:</strong> During your
                      Membership term we reserve the right to change Membership
                      pricing, benefits or Terms, including termination of the
                      Membership program, in our sole discretion. We will
                      provide you 30 days’ prior notice of (1) changes in
                      pricing, (2) other changes having a materially negative
                      effect on your benefits or the right to receive such
                      benefits, or (3) termination of the Membership program,
                      via email, SMS, or USPS mail (according to your
                      preference) and by posting updated Terms at icuracao.com.
                      If you disagree with the changes and want to terminate
                      your Membership you may cancel your Membership (using any
                      of the methods set forth above) within 30 days of the date
                      of the notice. At that time, we will credit you with a
                      proportionate share of the Membership price minus the
                      value of any benefits you have received. Continued use of
                      the Membership after changes constitutes acceptance. Tier
                      upgrades are allowed by paying the difference; downgrades
                      are not permitted.
                    </li>
                  </ul>
                </li>
                <li>
                  <strong>Service Limitations:</strong> We are not liable for
                  delays or failures beyond our control, system, data and
                  communication failures, strikes, riots, war, terrorism,
                  epidemics or any act of God. We may suspend or limit
                  Membership Benefits if we detect or suspect fraud or abuse.
                </li>
                <li>
                  <strong>Liability Limitation:</strong> TO THE MAXIMUM EXTENT
                  PERMITTED BY LAW: (A) WE ARE NOT LIABLE FOR INDIRECT,
                  INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES, INCLUDING DATA
                  RECOVERY COSTS; AND (B) OUR LIABILITY IS LIMITED TO THE
                  ORIGINAL PURCHASE PRICE OF THE MEMBERSHIP, INCLUDING TAXES.
                </li>
                <li>
                  <p>
                    <strong
                      >Agreement to Arbitrate and Class Action Waiver:</strong
                    >
                    In consideration of the mutual promises in this agreement,
                    you agree that any claim, dispute or controversy relating in
                    any way to your relationship with us (“Claim”) shall, at the
                    demand of any party, be resolved by arbitration before the
                    American Arbitration Association (“AAA”) under its Consumer
                    Arbitration Rules in effect when the Claim is filed, except
                    that neither party may demand arbitration of any Claim filed
                    in small claims court. This agreement to arbitrate means
                    that you will not be able to have the dispute settled by
                    trial (other than small claims court) or before a jury or to
                    participate in a class action in court, and other rights you
                    would have in court, including your right to appeal, may not
                    be available. Any arbitration will take place in Los Angeles
                    County, California or at any other mutually acceptable
                    location. Where the applicable law allows it, the award may
                    include attorneys’ fees and other expenses. The award, at a
                    minimum, shall be a reasoned award. Either party may appeal
                    the award pursuant to the AAA’s Optional Appellate
                    Arbitration Rules. The award shall not be considered final
                    until the time for filing the notice of appeal pursuant to
                    the Appellate Rules has expired. After the award has become
                    final, any party to the arbitration may enter judgment upon
                    the arbitration award in any court having jurisdiction over
                    the award and may have that judgment enforced by any court
                    having jurisdiction over that judgment.
                  </p>
                  <p>
                    <strong
                      >NO ARBITRATOR OR COURT MAY ORDER, PERMIT OR CERTIFY A
                      CLASS ACTION, REPRESENTATIVE ACTION, PRIVATE ATTORNEY
                      GENERAL LITIGATION OR CONSOLIDATED ARBITRATION IN
                      CONNECTION WITH THIS AGREEMENT. NO ARBITRATOR OR COURT MAY
                      ORDER OR PERMIT A JOINDER OF PARTIES OTHER THAN ANY
                      CO-MEMBER. YOU WAIVE THE RIGHT TO INITIATE OR PARTICIPATE
                      IN A CLASS ACTION, REPRESENTATIVE ACTION, PRIVATE ATTORNEY
                      GENERAL LITIGATION OR CONSOLIDATED ARBITRATION RELATED TO
                      YOUR MEMBERSHIP.
                    </strong>
                  </p>
                  <p>
                    This arbitration clause shall not apply to any Claims as to
                    which the limitations herein on class actions or
                    class-action or consolidated arbitration are not permitted
                    by applicable law. If any provision of this arbitration
                    clause should be found invalid or unenforceable, that
                    determination shall not affect the enforceability of the
                    remaining provisions.
                  </p>
                  <p>
                    <strong>
                      YOU MAY REJECT THIS ARBITRATION CLAUSE, BUT YOU MUST DO SO
                      PROMPTLY. If you do not wish to be bound by this
                      arbitration clause, you must notify us within 60 days from
                      the date of your enrollment by mailing a written rejection
                      notice to: Arbitration Manager, Curacao Legal Department,
                      1605 W. Olympic Blvd., Ste. 510, Los Angeles, CA 90015.
                      The notice must include your Account number and a clear
                      statement of your intent, such as “I reject the
                      arbitration clause in the Curacao Club Membership Terms
                      and Conditions."
                    </strong>
                  </p>
                </li>
                <li>
                  <p>
                    <strong>
                      Choice of Law, Jurisdiction and Venue: This agreement
                      shall be governed by the substantive law of the State of
                      California without regard to conflicts of laws. You agree
                      to submit to the jurisdiction of the courts located in the
                      state of California. Any action or proceeding not
                      submitted to arbitration pursuant to Paragraph 9 above
                      shall take place in the state or federal courts located in
                      Los Angeles County, California.
                    </strong>
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Integration, Severability, Amendments:</strong> This
                    agreement constitutes the sole and entire agreement between
                    us with respect to the subject matter of this agreement and
                    supersedes all prior and contemporaneous understandings,
                    agreements, representations, and warranties, both written
                    and oral, with respect to the subject matter. You and we
                    each acknowledge that you and we have not relied on any
                    statement, representation, warranty, or agreement of the
                    other party or any other person on that party’s behalf,
                    including any representations, warranties, or agreements
                    arising from statute or otherwise in law, except for the
                    representations, warranties, or agreements expressly
                    contained in this agreement.
                  </p>
                  <p>
                    If any term or provision of this agreement is invalid,
                    illegal, or unenforceable in any jurisdiction, such
                    invalidity, illegality or unenforceability shall not affect
                    any other term or provision of this agreement or invalidate
                    or render unenforceable such term or provision in any other
                    jurisdiction.
                  </p>
                  <p>
                    No amendment to this agreement is effective unless it is in
                    writing, identified as an amendment to this agreement and
                    signed by an authorized representative of each party.
                  </p>
                </li>
                <li id="exhibitA">
                  <strong>Electronic Signatures:</strong> Acceptance of the
                  Terms, and any other agreement, notice or documents to be
                  delivered in connection herewith or in connection with the
                  Membership may be executed by electronic signature, and that
                  any electronic signatures appearing on this agreement, or such
                  other documents are the same as handwritten signatures for the
                  purposes of validity, enforceability, and admissibility. The
                  use of electronic signatures and electronic records
                  (including, without limitation, any contract or other record
                  created, generated, sent, communicated, received, or stored by
                  electronic means) shall be of the same legal effect, validity,
                  and enforceability as a manually executed signature or use of
                  a paper-based record- keeping system to the fullest extent
                  permitted by applicable law, including the Federal Electronic
                  Signatures in Global and National Commerce Act, the California
                  Uniform Electronic Transactions Act, and any other applicable
                  law.
                </li>
              </ol>
              <div class="clubFlex">
                <p>
                  <strong>EXHIBIT A<br />MEMBERSHIP TIER PRICES</strong>
                </p>
              </div>
              <div class="clubFlex">
                <table>
                  <thead>
                    <tr>
                      <th scope="col">Tier Level</th>
                      <th scope="col">One Year Membership Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tier 1 "Essential"</td>
                      <td>$69.99</td>
                    </tr>
                    <tr>
                      <td>Tier 2 "Advanced"</td>
                      <td>$189.99</td>
                    </tr>
                    <tr>
                      <td>Tier 3 "Elite"</td>
                      <td>$289.99</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
        <div class="clubTermsModalFooter">
          <button
            class="club-btn club-btn-primary"
            id="clubTermsAcceptButton"
            disabled
          >
            I accept and want to continue
          </button>
        </div>
      </div>
    </div>
    <script>
      const clubTermsModal = document.getElementById('clubTermsModal');
      const clubTermsModalOpenButton = document.getElementById(
        'clubTermsModalOpenButton',
      );
      const clubTermsModalCloseButton = document.querySelector(
        '.clubTermsModalClose',
      );
      const clubTermsAcceptButton = document.getElementById(
        'clubTermsAcceptButton',
      );
      const clubTermsModalBody = document.getElementById('clubTermsModalBody');

      clubTermsModalOpenButton.onclick = function () {
        clubTermsModal.style.display = 'flex';
        clubTermsAcceptButton.disabled = true;
        document.body.setAttribute('style', 'overflow: hidden');
      };

      clubTermsModalCloseButton.onclick = function () {
        clubTermsModal.style.display = 'none';
        document.body.removeAttribute('style');
      };

      window.onclick = function (event) {
        if (event.target === clubTermsModal) {
          clubTermsModal.style.display = 'none';
        }
      };

      clubTermsModalBody.addEventListener('scroll', function () {
        if (
          clubTermsModalBody.scrollTop + clubTermsModalBody.clientHeight >=
          clubTermsModalBody.scrollHeight - 5
        ) {
          clubTermsAcceptButton.disabled = false;
        } else {
          clubTermsAcceptButton.disabled = true;
        }
      });
    </script>
  </body>
</html>
